$desktops:  (min-width: 1281px);
$laptops: (min-width: 1025px) and (max-width: 1280px);
$tablets: (min-width: 768px) and (max-width: 1024px);
$smartphones: (min-width: 320px) and (max-width: 480px);

