@import './mediaqueries.scss';

@mixin container-mixin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 10vh;
}

@mixin grid-mixin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-top: 10vh;
  width: 90vw;
  opacity: 1;
}
